.container{
    position: relative;
    height: 81vh;
}
.img{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noteimg{
    height: 68%;
}

.links{
    position: absolute;
    top: 0;
    width: 14rem;
    margin-top: 31%;
    margin-left: 43.7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Cbtn{
    outline: none;
    border-radius: 3rem;
}
.link{
    color: black;
}

.entry{
    display: flex;
    justify-content: center;
}