.flexMeArchive{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
}

/* .sideBarArchive{

    width: 14;
} */
                                                                                                                                                                                                                                                                                                                                                                    
.mappingAreaArchive{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10rem;
}