
.labelPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.sideBar{
    width: 11vw;
}

.list{
}

.labels1{
    margin-left: 9rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    height: 90%;
    box-sizing: border-box;
}
